@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("Search", "Cars",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "carsGrid"
            }))
        {
            <div>
                <label>名前</label>
                <input type="text" name="carName" />
                <input type="submit" value="Search" />
            </div>
        }
        <div id="carsGrid">
        </div>

    </div>
</body>
</html>


